Package: nostr-faucet-dbgsym
Package-Type: ddeb
Source: nostr-faucet
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: DWDC <apt@dwdc.club>
Installed-Size: 5178
Depends: nostr-faucet (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for nostr-faucet
Build-Ids: c5670de321fe93680c8999fb97733ed82743e0be
